---
import Layout from '../layouts/Layout.astro'
import MaterialCalendarMonthOutline from '../components/svg/MaterialCalendarMonthOutline.astro'
import MaterialSubject from '../components/svg/MaterialSubject.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import headerImage from '../images/36_upload_IMG_20180730_204953_header.jpg'
import headerImage0 from '../images/3_concept1_header-topaz-enhance-4x.webp'

const allHonestReviewsPosts = await getCollection('blog', ({ id }) => {
    return id.startsWith('honestReviews')
})
const allShoppingPosts = await getCollection('blog', ({ id }) => {
    return id.startsWith('shopping')
})

const allMaintenancePosts = await getCollection('blog', ({ id }) => {
    return id.startsWith('maintenance')
})
const allGeneralPosts = await getCollection('blog', ({ id }) => {
    return id.startsWith('general')
})
const allRenovationPosts = await getCollection('blog', ({ id }) => {
    return id.startsWith('renovation')
})
const allPosts = await getCollection('blog')

allHonestReviewsPosts.sort((a, b) => a.data.id - b.data.id)
allShoppingPosts.sort((a, b) => a.data.id - b.data.id)
allMaintenancePosts.sort((a, b) => a.data.id - b.data.id)
allGeneralPosts.sort((a, b) => a.data.id - b.data.id)
allRenovationPosts.sort((a, b) => a.data.id - b.data.id)

/** Get list of IDs */
/* let arrayTest = []
allPosts.forEach((item) => {
    let pushName = `${item.data.id}` //, ${item.data.title}`
    arrayTest.push(pushName)
})

console.log(arrayTest.sort((a, b) => a - b)) */
---

<Layout title="Home">
    <aside data-pagefind-ignore>
        <div class="-mt-10 grid grid-cols-2 justify-items-center gap-4">
            <div class="bg-base-00 col-span-2 flex min-h-24 w-full items-center justify-center">
                <div class="text-center text-2xl font-extrabold">
                    <p>This is a blog on renovating our HDB home on a budget.</p>
                    <p>Choices. Buys. Regrets. Lessons.</p>
                </div>
            </div>
            <div class="col-span-2 text-center md:col-span-1">
                <a href="/renovation/our-clean-bto-home-design">
                    <Image
                        src={headerImage0}
                        alt=""
                        loading="eager"
                        widths={[400, 700]}
                        class="brightness-[0.9] saturate-50 hover:brightness-100 hover:saturate-100"
                        sizes={`(max-width: 768px) 400px, (max-width: 2400px) 700px, ${headerImage0.width}px}`}
                    />
                </a>
            </div>
            <div class="col-span-2 text-center md:col-span-1">
                <a href="/honest-reviews/4-room-bto-design-completed-home"
                    ><Image
                        src={headerImage}
                        alt=""
                        height="650"
                        loading="eager"
                        widths={[400, 700]}
                        class="brightness-[0.9] saturate-50 hover:brightness-100 hover:saturate-100"
                        sizes={`(max-width: 768px) 400px, (max-width: 2400px) 700px, ${headerImage0.width}px}`}
                    />
                </a>
            </div>
        </div>
        <nav class="flex flex-wrap justify-center pt-8">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="2em"
                height="2em"
                class="m-2 inline"
                viewBox="0 0 24 24"
                ><path fill="currentColor" d="M10 18v-2h4v2zm-4-5v-2h12v2zM3 8V6h18v2z"></path></svg
            >
            <a
                href="#honest-reviews"
                class="btn btn-outline btn-sm m-2 rounded-none border-primary text-primary hover:border-accent hover:bg-transparent hover:text-accent"
                >Honest Reviews</a
            >
            <a
                href="#shopping"
                class="btn btn-outline btn-sm m-2 rounded-none border-primary text-primary hover:border-accent hover:bg-transparent hover:text-accent"
                >Shopping</a
            >
            <a
                href="#renovation"
                class="btn btn-outline btn-sm m-2 rounded-none border-primary text-primary hover:border-accent hover:bg-transparent hover:text-accent"
                >Renovation</a
            >
            <a
                href="#maintenance"
                class="btn btn-outline btn-sm m-2 rounded-none border-primary text-primary hover:border-accent hover:bg-transparent hover:text-accent"
                >Maintenance</a
            >
            <a
                href="#general"
                class="btn btn-outline btn-sm m-2 rounded-none border-primary text-primary hover:border-accent hover:bg-transparent hover:text-accent"
                >General</a
            >
        </nav>
        <main class="flex justify-center pt-8">
            <div class="grid gap-14 md:grid-cols-2">
                <div class="col-span-2" id="honest-reviews">
                    <h2 class="py-2">
                        <a href="/honest-reviews" class="hover:text-accent">Honest Reviews</a>
                    </h2>
                    <div class="grid gap-12 border-2 border-base-content p-4 md:grid-cols-2">
                        {
                            allHonestReviewsPosts.map((entry) => (
                                <div class="">
                                    <a href={entry.slug}>
                                        <h3 class="title text-primary underline hover:text-accent group-hover:text-base-100">
                                            {entry.data.title}
                                        </h3>
                                        <div class="flex items-center stroke-base-content text-sm text-base-content group-hover:text-base-100">
                                            <MaterialCalendarMonthOutline class="mb-1 me-1" />
                                            <FormattedDate date={entry.data.pubDate} />
                                        </div>
                                    </a>
                                </div>
                            ))
                        }
                    </div>
                </div>
                <div class="col-span-2" id="shopping">
                    <h2 class="py-2"><a href="/shopping" class="hover:text-accent">Shopping</a></h2>
                    <div class="grid gap-12 border-2 border-base-content p-4 md:grid-cols-2">
                        {
                            allShoppingPosts.map((entry) => (
                                <div class="">
                                    <a href={entry.slug}>
                                        <h3 class="title text-primary underline hover:text-accent group-hover:text-base-100">
                                            {entry.data.title}
                                        </h3>
                                        <div class="flex items-center stroke-base-content text-sm text-base-content group-hover:text-base-100">
                                            <MaterialCalendarMonthOutline class="mb-1 me-1" />
                                            <FormattedDate date={entry.data.pubDate} />
                                        </div>
                                    </a>
                                </div>
                            ))
                        }
                    </div>
                </div>
                <div class="col-span-2" id="renovation">
                    <h2 class="py-2">
                        <a href="/renovation" class="hover:text-accent">Renovation</a>
                    </h2>
                    <div class="grid gap-12 border-2 border-base-content p-4 md:grid-cols-2">
                        {
                            allRenovationPosts.map((entry) => (
                                <div class="">
                                    <a href={entry.slug}>
                                        <h3 class="title text-primary underline hover:text-accent group-hover:text-base-100">
                                            {entry.data.title}
                                        </h3>
                                        <div class="flex items-center stroke-base-content text-sm text-base-content group-hover:text-base-100">
                                            <MaterialCalendarMonthOutline class="mb-1 me-1" />
                                            <FormattedDate date={entry.data.pubDate} />
                                        </div>
                                    </a>
                                </div>
                            ))
                        }
                    </div>
                </div>
                <div class="col-span-2" id="maintenance">
                    <h2 class="py-2">
                        <a href="/maintenance" class="hover:text-accent">Maintenance</a>
                    </h2>
                    <div class="grid gap-12 border-2 border-base-content p-4 md:grid-cols-2">
                        {
                            allMaintenancePosts.map((entry) => (
                                <div class="">
                                    <a href={entry.slug}>
                                        <h3 class="title text-primary underline hover:text-accent group-hover:text-base-100">
                                            {entry.data.title}
                                        </h3>
                                        <div class="flex items-center stroke-base-content text-sm text-base-content group-hover:text-base-100">
                                            <MaterialCalendarMonthOutline class="mb-1 me-1" />
                                            <FormattedDate date={entry.data.pubDate} />
                                        </div>
                                    </a>
                                </div>
                            ))
                        }
                    </div>
                </div>
                <div class="col-span-2" id="general">
                    <h2 class="py-2"><a href="/general" class="hover:text-accent">General</a></h2>
                    <div class="grid gap-12 border-2 border-base-content p-4 md:grid-cols-2">
                        {
                            allGeneralPosts.map((entry) => (
                                <div class="">
                                    <a href={entry.slug}>
                                        <h3 class="title text-primary underline hover:text-accent group-hover:text-base-100">
                                            {entry.data.title}
                                        </h3>
                                        <div class="flex items-center stroke-base-content text-sm text-base-content group-hover:text-base-100">
                                            <MaterialCalendarMonthOutline class="mb-1 me-1" />
                                            <FormattedDate date={entry.data.pubDate} />
                                        </div>
                                    </a>
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
        </main>
    </aside>
</Layout>

<style>
    .backgroundGradient {
        background-image: radial-gradient(circle, #e9ffc2, #caffed, #d4ffff, #f1ffff, #ffffff);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
