---
import Layout from '../layouts/Layout.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { getCollection } from 'astro:content'

const allHonestReviewsPosts = await getCollection('blog', ({ id }) => {
    return id.startsWith('honestReviews')
})
const allShoppingPosts = await getCollection('blog', ({ id }) => {
    return id.startsWith('shopping')
})
const allMaintenancePosts = await getCollection('blog', ({ id }) => {
    return id.startsWith('maintenance')
})
const allGeneralPosts = await getCollection('blog', ({ id }) => {
    return id.startsWith('general')
})
---

<Layout title="Home">
    <main class="flex justify-center">
        <div class="grid grid-cols-2 gap-4">
            <div class="">
                <h2>Honest Reviews</h2>
                {
                    allHonestReviewsPosts.map((entry) => (
                        <div class="grid grid-cols-7 gap-4 border border-primary">
                            <div class="p-2">
                                <FormattedDate date={entry.data.pubDate} />
                            </div>
                            <div class="col-span-6 p-2">
                                <a href={entry.slug}>
                                    <h3>{entry.data.title}</h3>
                                    <p class="truncate">{entry.body}</p>
                                </a>
                            </div>
                        </div>
                    ))
                }
            </div>
            <div class="">
                <h2>Shopping</h2>
                {
                    allShoppingPosts.map((entry) => (
                        <div class="grid grid-cols-7 gap-4 border border-primary">
                            <div class="p-2">
                                <FormattedDate date={entry.data.pubDate} />
                            </div>
                            <div class="col-span-6 p-2">
                                <a href={entry.slug}>
                                    <h3>{entry.data.title}</h3>
                                    <p class="truncate">{entry.body}</p>
                                </a>
                            </div>
                        </div>
                    ))
                }
            </div>
            <div class="">
                <h2>Maintenance</h2>
                {
                    allMaintenancePosts.map((entry) => (
                        <div class="grid grid-cols-7 gap-4 border border-primary">
                            <div class="p-2">
                                <FormattedDate date={entry.data.pubDate} />
                            </div>
                            <div class="col-span-6 p-2">
                                <a href={entry.slug}>
                                    <h3>{entry.data.title}</h3>
                                    <p class="truncate">{entry.body}</p>
                                </a>
                            </div>
                        </div>
                    ))
                }
            </div>
            <div class="">
                <h2>General</h2>
                {
                    allGeneralPosts.map((entry) => (
                        <div class="grid grid-cols-7 gap-4 border border-primary">
                            <div class="p-2">
                                <FormattedDate date={entry.data.pubDate} />
                            </div>
                            <div class="col-span-6 p-2">
                                <a href={entry.slug}>
                                    <h3>{entry.data.title}</h3>
                                    <p class="truncate">{entry.body}</p>
                                </a>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </main>
</Layout>
