---
import Layout from '../layouts/Layout.astro'
import MaterialCalendarMonthOutline from '../components/svg/MaterialCalendarMonthOutline.astro'
import MaterialSubject from '../components/svg/MaterialSubject.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import headerImage from '../content/blog/honestReviews/images/36_upload_IMG_20180730_204953.jpg'

const allHonestReviewsPosts = await getCollection('blog', ({ id }) => {
    return id.startsWith('honestReviews')
})
const allShoppingPosts = await getCollection('blog', ({ id }) => {
    return id.startsWith('shopping')
})
const allMaintenancePosts = await getCollection('blog', ({ id }) => {
    return id.startsWith('maintenance')
})
const allGeneralPosts = await getCollection('blog', ({ id }) => {
    return id.startsWith('general')
})
const allRenovationPosts = await getCollection('blog', ({ id }) => {
    return id.startsWith('renovation')
})
const allPosts = await getCollection('blog')

/** Get list of IDs */
let arrayTest = []
allPosts.forEach((item) => {
    let pushName = `${item.data.id}` //, ${item.data.title}`
    arrayTest.push(pushName)
})
console.log(arrayTest.sort())
---

<Layout title="Home">
    <!-- <div class="flex justify-center">
        <Image src={headerImage} alt="header image" height="400" />
    </div> -->
    <main class="flex justify-center">
        <div class="grid gap-14 md:grid-cols-2">
            <div class="col-span-2">
                <h2 class="py-2">Honest Reviews</h2>
                <div class="grid grid-cols-2 gap-8 border-2 border-neutral p-4">
                    {
                        allHonestReviewsPosts.map((entry) => (
                            <div class="">
                                <a href={entry.slug}>
                                    <h3 class="title text-primary hover:underline group-hover:text-base-100">
                                        {entry.data.title}
                                    </h3>
                                    <div class="flex items-center stroke-gray-300 text-sm text-gray-500 group-hover:text-base-100">
                                        <MaterialCalendarMonthOutline class="mb-1 me-1" />
                                        <FormattedDate date={entry.data.pubDate} />
                                    </div>
                                </a>
                            </div>
                        ))
                    }
                </div>
            </div>
            <div class="s">
                <h2 class="py-2">Shopping</h2>
                <div class="space-y-8 border-2 border-neutral p-4">
                    {
                        allShoppingPosts.map((entry) => (
                            <div class="">
                                <a href={entry.slug}>
                                    <h3 class="title text-primary hover:underline group-hover:text-base-100">
                                        {entry.data.title}
                                    </h3>
                                    <div class="flex items-center stroke-gray-300 text-sm text-gray-500 group-hover:text-base-100">
                                        <MaterialCalendarMonthOutline class="mb-1 me-1" />
                                        <FormattedDate date={entry.data.pubDate} />
                                    </div>
                                </a>
                            </div>
                        ))
                    }
                </div>
            </div>
            <div class="row-span-2">
                <h2 class="py-2">Renovation</h2>
                <div class="space-y-8 border-2 border-neutral p-4">
                    {
                        allRenovationPosts.map((entry) => (
                            <div class="">
                                <a href={entry.slug}>
                                    <h3 class="title text-primary hover:underline group-hover:text-base-100">
                                        {entry.data.title}
                                    </h3>
                                    <div class="flex items-center stroke-gray-300 text-sm text-gray-500 group-hover:text-base-100">
                                        <MaterialCalendarMonthOutline class="mb-1 me-1" />
                                        <FormattedDate date={entry.data.pubDate} />
                                    </div>
                                </a>
                            </div>
                        ))
                    }
                </div>
            </div>
            <div class="">
                <h2 class="py-2">Maintenance</h2>
                <div class="space-y-8 border-2 border-neutral p-4">
                    {
                        allMaintenancePosts.map((entry) => (
                            <div class="">
                                <a href={entry.slug}>
                                    <h3 class="title text-primary hover:underline group-hover:text-base-100">
                                        {entry.data.title}
                                    </h3>
                                    <div class="flex items-center stroke-gray-300 text-sm text-gray-500 group-hover:text-base-100">
                                        <MaterialCalendarMonthOutline class="mb-1 me-1" />
                                        <FormattedDate date={entry.data.pubDate} />
                                    </div>
                                </a>
                            </div>
                        ))
                    }
                </div>
            </div>
            <div class="">
                <h2 class="py-2">General</h2>
                <div class="space-y-8 border-2 border-neutral p-4">
                    {
                        allGeneralPosts.map((entry) => (
                            <div class="">
                                <a href={entry.slug}>
                                    <h3 class="title text-primary hover:underline group-hover:text-base-100">
                                        {entry.data.title}
                                    </h3>
                                    <div class="flex items-center stroke-gray-300 text-sm text-gray-500 group-hover:text-base-100">
                                        <MaterialCalendarMonthOutline class="mb-1 me-1" />
                                        <FormattedDate date={entry.data.pubDate} />
                                    </div>
                                </a>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </main>
</Layout>
