---
import FormattedDate from './FormattedDate.astro'
import type { CollectionEntry } from 'astro:content'

interface Props {
    title: string
    url: string
    id: string
    posts: CollectionEntry<'blog'>[]
}

const { title, url, id, posts } = Astro.props
---

<div class="col-span-2" id={id}>
    <h2 class="py-2 text-4xl">
        <a href={url} class="hover:text-accent">{title}</a>
    </h2>
    <div
        class="border-base-content/30 grid gap-12 rounded-lg border-2 p-4 hover:bg-black/30 lg:grid-cols-2 lg:p-8"
    >
        {
            posts.map((entry) => (
                <div class="">
                    <a href={'/' + entry.data.category + '/' + (entry.data.slug || entry.id)}>
                        <h3 class="title text-primary hover:text-accent group-hover:text-base-100 underline">
                            {entry.data.title}
                        </h3>
                        <div class="stroke-base-content text-base-content/80 group-hover:text-base-100 flex flex-wrap items-center text-sm">
                            <FormattedDate date={entry.data.pubDate} />
                        </div>
                    </a>
                </div>
            ))
        }
    </div>
</div>
