---
import type { InferGetStaticParamsType, InferGetStaticPropsType, GetStaticPaths } from 'astro'
import Layout from '../../layouts/Layout.astro'
import MaterialCalendarMonthOutline from '../../components/svg/MaterialCalendarMonthOutline.astro'
import MaterialSubject from '../../components/svg/MaterialSubject.astro'
import FormattedDate from '../../components/FormattedDate.astro'
import { getCollection, render } from 'astro:content'
import { Image } from 'astro:assets'
import headerImage from '../../images/36_upload_IMG_20180730_204953_header.jpg'
import headerImage0 from '../../images/3_concept1_header-topaz-enhance-4x.webp'
import { GetPid, GetUniqueTags } from '../../lib/utils'

async function CleanAndSort(category = '') {
    let posts
    if (category) {
        posts = await getCollection('blog', ({ data }) => {
            return data.category === category
        })
    } else {
        posts = await getCollection('blog')
    }

    posts.forEach((entry) => {
        entry.data.category = entry.data.category.toLowerCase().replace(' ', '-')
    })

    posts.sort((a, b) => b.data.pid - a.data.pid)

    return posts
}

const allPosts = await CleanAndSort()
const tagsList = await GetUniqueTags(allPosts)

// 1. Generate a new path for every collection entry
export const getStaticPaths = (async () => {
    const blogEntriesUnsorted = await getCollection('blog')
    const blogEntries = blogEntriesUnsorted.sort((a, b) => a.data.category - b.data.category)
    const tagsList = await GetUniqueTags(blogEntries)

    return tagsList.map((tag) => {
        const filtered = blogEntries.filter((filtered) => {
            return filtered.data.tags?.includes(tag)
        })
        return { params: { tag }, props: { filtered: filtered } }
    })
}) satisfies GetStaticPaths

type Params = InferGetStaticParamsType<typeof getStaticPaths>
type Props = InferGetStaticPropsType<typeof getStaticPaths>

// 2. For your template, you can get the entry directly from the prop
const { filtered } = Astro.props
const { tag } = Astro.params
---

<Layout title="Tag">
    <aside class="p-0" data-pagefind-ignore>
        <nav class="mt-4 flex">
            <span id="current-tag" class="hidden" data-current={tag}></span>
            <div class="flex flex-wrap items-center gap-2 text-sm">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1.5em"
                    height="1.5em"
                    class="prime:tags text-primary"
                    viewBox="0 0 24 24"
                    ><path
                        fill="currentColor"
                        d="m21.07 10.3l-6-6a.75.75 0 0 0-.53-.22H3c-.41 0-.75.34-.75.75v7.88c0 .2.08.39.22.53l6 5.99a2.3 2.3 0 0 0 1.64.68c.62 0 1.21-.24 1.64-.68l.22-.22c.04.08.08.16.15.22a2.326 2.326 0 0 0 3.29 0l5.65-5.65c.9-.9.9-2.37 0-3.28ZM10.7 18.17c-.16.16-.36.24-.58.24s-.43-.09-.58-.24L3.75 12.4V5.58h6.82l5.78 5.78c.32.32.32.84 0 1.16zm9.31-5.65l-5.65 5.65c-.32.32-.85.32-1.17 0a.7.7 0 0 0-.23-.15l4.44-4.44c.9-.91.9-2.38 0-3.28l-4.72-4.72h1.54L20 11.36c.32.32.32.84 0 1.16ZM8.25 8.5a1.25 1.25 0 1 1-2.5 0a1.25 1.25 0 0 1 2.5 0"
                    ></path></svg
                >
                {
                    tagsList.map((t) => (
                        <a
                            href={'/tag/' + t}
                            class:list={[
                                'group relative overflow-hidden rounded-full border px-4 py-1.5 text-sm font-medium backdrop-blur-sm transition-all duration-300 hover:-translate-y-0.5 hover:shadow-lg',
                                t === tag
                                    ? 'bg-accent/20 border-accent text-accent shadow-accent/30'
                                    : 'border-primary/40 bg-primary/10 text-primary hover:border-accent hover:bg-accent/20 hover:text-accent hover:shadow-accent/30',
                            ]}
                        >
                            <>
                                <span class="tag relative z-10">{t}</span>
                                <div class="via-accent/20 absolute inset-0 z-0 bg-linear-to-r from-transparent to-transparent opacity-0 transition-opacity duration-300 group-hover:opacity-100" />
                            </>
                        </a>
                    ))
                }
            </div>
        </nav>

        <main class="pt-16">
            <div class="grid gap-14 md:grid-cols-2">
                <div
                    class={filtered.filter((entry) => entry.data.category === 'Honest Reviews')
                        .length > 0
                        ? 'col-span-2'
                        : 'hidden'}
                    id="honest-reviews"
                >
                    <h2 class="py-2">
                        <a href="/honest-reviews" class="hover:text-accent text-4xl"
                            >Honest Reviews</a
                        >
                    </h2>
                    <div
                        class="border-base-content/30 grid gap-12 rounded-lg border-2 p-4 hover:bg-black/30 md:grid-cols-2 lg:p-8"
                    >
                        {
                            filtered
                                .filter((entry) => entry.data.category === 'Honest Reviews')
                                .sort((a, b) => b.data.pid - a.data.pid)
                                .map((entry) => (
                                    <div class="">
                                        <a href={entry.data.category + '/' + entry.data.slug}>
                                            <h3 class="title text-primary hover:text-accent group-hover:text-base-100 underline">
                                                {entry.data.title}
                                            </h3>
                                            <div class="stroke-base-content text-base-content/80 group-hover:text-base-100 mt-2 flex items-center text-sm">
                                                <MaterialCalendarMonthOutline class="me-2 mb-1" />
                                                <FormattedDate date={entry.data.pubDate} />
                                            </div>
                                            <div class="stroke-base-content text-base-content/80 group-hover:text-base-100 mt-2 text-sm">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="1.3em"
                                                    height="1.3em"
                                                    class="prime:tags me-1 inline"
                                                    viewBox="0 0 24 24"
                                                >
                                                    <path
                                                        fill="currentColor"
                                                        d="m21.07 10.3l-6-6a.75.75 0 0 0-.53-.22H3c-.41 0-.75.34-.75.75v7.88c0 .2.08.39.22.53l6 5.99a2.3 2.3 0 0 0 1.64.68c.62 0 1.21-.24 1.64-.68l.22-.22c.04.08.08.16.15.22a2.326 2.326 0 0 0 3.29 0l5.65-5.65c.9-.9.9-2.37 0-3.28ZM10.7 18.17c-.16.16-.36.24-.58.24s-.43-.09-.58-.24L3.75 12.4V5.58h6.82l5.78 5.78c.32.32.32.84 0 1.16zm9.31-5.65l-5.65 5.65c-.32.32-.85.32-1.17 0a.7.7 0 0 0-.23-.15l4.44-4.44c.9-.91.9-2.38 0-3.28l-4.72-4.72h1.54L20 11.36c.32.32.32.84 0 1.16ZM8.25 8.5a1.25 1.25 0 1 1-2.5 0a1.25 1.25 0 0 1 2.5 0"
                                                    />
                                                </svg>
                                                {entry.data.tags.map((tag, i) => (
                                                    <>
                                                        {tag}
                                                        {entry.data.tags.length - 1 !== i
                                                            ? ', '
                                                            : undefined}
                                                    </>
                                                ))}
                                            </div>
                                        </a>
                                    </div>
                                ))
                        }
                    </div>
                </div>

                <div
                    class={filtered.filter((entry) => entry.data.category === 'Shopping').length > 0
                        ? 'col-span-2'
                        : 'hidden'}
                    id="shopping"
                >
                    <h2 class="py-2">
                        <a href="/shopping" class="hover:text-accent text-4xl">Shopping</a>
                    </h2>
                    <div
                        class="border-base-content/30 grid gap-12 rounded-lg border-2 p-4 hover:bg-black/30 md:grid-cols-2 lg:p-8"
                    >
                        {
                            filtered
                                .filter((entry) => entry.data.category === 'Shopping')
                                .sort((a, b) => b.data.pid - a.data.pid)
                                .map((entry) => (
                                    <div>
                                        <a href={entry.data.category + '/' + entry.data.slug}>
                                            <h3 class="title text-primary hover:text-accent group-hover:text-base-100 underline">
                                                {entry.data.title}
                                            </h3>
                                            <div class="stroke-base-content text-base-content/80 group-hover:text-base-100 mt-2 flex items-center text-sm">
                                                <MaterialCalendarMonthOutline class="me-2 mb-1" />
                                                <FormattedDate date={entry.data.pubDate} />
                                            </div>
                                            <div class="stroke-base-content text-base-content/80 group-hover:text-base-100 mt-2 text-sm">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="1.3em"
                                                    height="1.3em"
                                                    class="prime:tags me-1 inline"
                                                    viewBox="0 0 24 24"
                                                >
                                                    <path
                                                        fill="currentColor"
                                                        d="m21.07 10.3l-6-6a.75.75 0 0 0-.53-.22H3c-.41 0-.75.34-.75.75v7.88c0 .2.08.39.22.53l6 5.99a2.3 2.3 0 0 0 1.64.68c.62 0 1.21-.24 1.64-.68l.22-.22c.04.08.08.16.15.22a2.326 2.326 0 0 0 3.29 0l5.65-5.65c.9-.9.9-2.37 0-3.28ZM10.7 18.17c-.16.16-.36.24-.58.24s-.43-.09-.58-.24L3.75 12.4V5.58h6.82l5.78 5.78c.32.32.32.84 0 1.16zm9.31-5.65l-5.65 5.65c-.32.32-.85.32-1.17 0a.7.7 0 0 0-.23-.15l4.44-4.44c.9-.91.9-2.38 0-3.28l-4.72-4.72h1.54L20 11.36c.32.32.32.84 0 1.16ZM8.25 8.5a1.25 1.25 0 1 1-2.5 0a1.25 1.25 0 0 1 2.5 0"
                                                    />
                                                </svg>
                                                {entry.data.tags.map((tag, i) => (
                                                    <>
                                                        {tag}
                                                        {entry.data.tags.length - 1 !== i
                                                            ? ', '
                                                            : undefined}
                                                    </>
                                                ))}
                                            </div>
                                        </a>
                                    </div>
                                ))
                        }
                    </div>
                </div>
                <div
                    class={filtered.filter((entry) => entry.data.category === 'Renovation').length >
                    0
                        ? 'col-span-2'
                        : 'hidden'}
                    id="renovation"
                >
                    <h2 class="py-2">
                        <a href="/renovation" class="hover:text-accent text-4xl">Renovation</a>
                    </h2>
                    <div
                        class="border-base-content/30 grid gap-12 rounded-lg border-2 p-4 hover:bg-black/30 md:grid-cols-2 lg:p-8"
                    >
                        {
                            filtered
                                .filter((entry) => entry.data.category === 'Renovation')
                                .sort((a, b) => b.data.pid - a.data.pid)
                                .map((entry) => (
                                    <div class="">
                                        <a href={entry.data.category + '/' + entry.data.slug}>
                                            <h3 class="title text-primary hover:text-accent group-hover:text-base-100 underline">
                                                {entry.data.title}
                                            </h3>
                                            <div class="stroke-base-content text-base-content/80 group-hover:text-base-100 mt-2 flex items-center text-sm">
                                                <MaterialCalendarMonthOutline class="me-2 mb-1" />
                                                <FormattedDate date={entry.data.pubDate} />
                                            </div>
                                            <div class="stroke-base-content text-base-content/80 group-hover:text-base-100 mt-2 text-sm">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="1.3em"
                                                    height="1.3em"
                                                    class="prime:tags me-1 inline"
                                                    viewBox="0 0 24 24"
                                                >
                                                    <path
                                                        fill="currentColor"
                                                        d="m21.07 10.3l-6-6a.75.75 0 0 0-.53-.22H3c-.41 0-.75.34-.75.75v7.88c0 .2.08.39.22.53l6 5.99a2.3 2.3 0 0 0 1.64.68c.62 0 1.21-.24 1.64-.68l.22-.22c.04.08.08.16.15.22a2.326 2.326 0 0 0 3.29 0l5.65-5.65c.9-.9.9-2.37 0-3.28ZM10.7 18.17c-.16.16-.36.24-.58.24s-.43-.09-.58-.24L3.75 12.4V5.58h6.82l5.78 5.78c.32.32.32.84 0 1.16zm9.31-5.65l-5.65 5.65c-.32.32-.85.32-1.17 0a.7.7 0 0 0-.23-.15l4.44-4.44c.9-.91.9-2.38 0-3.28l-4.72-4.72h1.54L20 11.36c.32.32.32.84 0 1.16ZM8.25 8.5a1.25 1.25 0 1 1-2.5 0a1.25 1.25 0 0 1 2.5 0"
                                                    />
                                                </svg>
                                                {entry.data.tags.map((tag, i) => (
                                                    <>
                                                        {tag}
                                                        {entry.data.tags.length - 1 !== i
                                                            ? ', '
                                                            : undefined}
                                                    </>
                                                ))}
                                            </div>
                                        </a>
                                    </div>
                                ))
                        }
                    </div>
                </div>
                <div
                    class={filtered.filter((entry) => entry.data.category === 'Maintenance')
                        .length > 0
                        ? 'col-span-2'
                        : 'hidden'}
                    id="maintenance"
                >
                    <h2 class="py-2">
                        <a href="/maintenance" class="hover:text-accent text-4xl">Maintenance</a>
                    </h2>
                    <div
                        class="border-base-content/30 grid gap-12 rounded-lg border-2 p-4 hover:bg-black/30 md:grid-cols-2 lg:p-8"
                    >
                        {
                            filtered
                                .filter((entry) => entry.data.category === 'Maintenance')
                                .sort((a, b) => b.data.pid - a.data.pid)
                                .map((entry) => (
                                    <div class="">
                                        <a href={entry.data.category + '/' + entry.data.slug}>
                                            <h3 class="title text-primary hover:text-accent group-hover:text-base-100 underline">
                                                {entry.data.title}
                                            </h3>
                                            <div class="stroke-base-content text-base-content/80 group-hover:text-base-100 mt-2 flex items-center text-sm">
                                                <MaterialCalendarMonthOutline class="me-2 mb-1" />
                                                <FormattedDate date={entry.data.pubDate} />
                                            </div>
                                            <div class="stroke-base-content text-base-content/80 group-hover:text-base-100 mt-2 text-sm">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="1.3em"
                                                    height="1.3em"
                                                    class="prime:tags me-1 inline"
                                                    viewBox="0 0 24 24"
                                                >
                                                    <path
                                                        fill="currentColor"
                                                        d="m21.07 10.3l-6-6a.75.75 0 0 0-.53-.22H3c-.41 0-.75.34-.75.75v7.88c0 .2.08.39.22.53l6 5.99a2.3 2.3 0 0 0 1.64.68c.62 0 1.21-.24 1.64-.68l.22-.22c.04.08.08.16.15.22a2.326 2.326 0 0 0 3.29 0l5.65-5.65c.9-.9.9-2.37 0-3.28ZM10.7 18.17c-.16.16-.36.24-.58.24s-.43-.09-.58-.24L3.75 12.4V5.58h6.82l5.78 5.78c.32.32.32.84 0 1.16zm9.31-5.65l-5.65 5.65c-.32.32-.85.32-1.17 0a.7.7 0 0 0-.23-.15l4.44-4.44c.9-.91.9-2.38 0-3.28l-4.72-4.72h1.54L20 11.36c.32.32.32.84 0 1.16ZM8.25 8.5a1.25 1.25 0 1 1-2.5 0a1.25 1.25 0 0 1 2.5 0"
                                                    />
                                                </svg>
                                                {entry.data.tags.map((tag, i) => (
                                                    <>
                                                        {tag}
                                                        {entry.data.tags.length - 1 !== i
                                                            ? ', '
                                                            : undefined}
                                                    </>
                                                ))}
                                            </div>
                                        </a>
                                    </div>
                                ))
                        }
                    </div>
                </div>
                <div
                    class={filtered.filter((entry) => entry.data.category === 'General').length > 0
                        ? 'col-span-2'
                        : 'hidden'}
                    id="general"
                >
                    <h2 class="py-2">
                        <a href="/general" class="hover:text-accent text-4xl">General</a>
                    </h2>
                    <div
                        class="border-base-content/30 grid gap-12 rounded-lg border-2 p-4 hover:bg-black/30 md:grid-cols-2 lg:p-8"
                    >
                        {
                            filtered
                                .filter((entry) => entry.data.category === 'General')
                                .sort((a, b) => b.data.pid - a.data.pid)
                                .map((entry) => (
                                    <div class="">
                                        <a href={entry.data.category + '/' + entry.data.slug}>
                                            <h3 class="title text-primary hover:text-accent group-hover:text-base-100 underline">
                                                {entry.data.title}
                                            </h3>
                                            <div class="stroke-base-content text-base-content/80 group-hover:text-base-100 mt-2 flex items-center text-sm">
                                                <MaterialCalendarMonthOutline class="me-2 mb-1" />
                                                <FormattedDate date={entry.data.pubDate} />
                                            </div>
                                            <div class="stroke-base-content text-base-content/80 group-hover:text-base-100 mt-2 text-sm">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="1.3em"
                                                    height="1.3em"
                                                    class="prime:tags me-1 inline"
                                                    viewBox="0 0 24 24"
                                                >
                                                    <path
                                                        fill="currentColor"
                                                        d="m21.07 10.3l-6-6a.75.75 0 0 0-.53-.22H3c-.41 0-.75.34-.75.75v7.88c0 .2.08.39.22.53l6 5.99a2.3 2.3 0 0 0 1.64.68c.62 0 1.21-.24 1.64-.68l.22-.22c.04.08.08.16.15.22a2.326 2.326 0 0 0 3.29 0l5.65-5.65c.9-.9.9-2.37 0-3.28ZM10.7 18.17c-.16.16-.36.24-.58.24s-.43-.09-.58-.24L3.75 12.4V5.58h6.82l5.78 5.78c.32.32.32.84 0 1.16zm9.31-5.65l-5.65 5.65c-.32.32-.85.32-1.17 0a.7.7 0 0 0-.23-.15l4.44-4.44c.9-.91.9-2.38 0-3.28l-4.72-4.72h1.54L20 11.36c.32.32.32.84 0 1.16ZM8.25 8.5a1.25 1.25 0 1 1-2.5 0a1.25 1.25 0 0 1 2.5 0"
                                                    />
                                                </svg>
                                                {entry.data.tags.map((tag, i) => (
                                                    <>
                                                        {tag}
                                                        {entry.data.tags.length - 1 !== i
                                                            ? ', '
                                                            : undefined}
                                                    </>
                                                ))}
                                            </div>
                                        </a>
                                    </div>
                                ))
                        }
                    </div>
                </div>
            </div>
        </main>

        <style>
            .backgroundGradient {
                background-image: radial-gradient(
                    circle,
                    #e9ffc2,
                    #caffed,
                    #d4ffff,
                    #f1ffff,
                    #ffffff
                );
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
        </style>
    </aside>
</Layout>
